li {
  border-bottom: solid 1px #5a51f3;
  margin-bottom: 12px;
}
table,td,th {border: solid 1px #000;border-spacing: 0;}


#journalNumber {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
}
